<nav class="bg-gray-50 dark:bg-gray-700">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
    <div class="flex items-center">
      <ul class="flex flex-row font-medium mt-0 mr-6 space-x-8 text-sm">
        <li>
          <%= link_to "プロフィール", mypage_profile_path, class:"text-gray-900 dark:text-white hover:underline" %>
        </li>
        <li>
          <%= link_to "いいね一覧", mypage_likes_path, class:"text-gray-900 dark:text-white hover:underline" %>
        </li>
        <li>
          <%= link_to "カレンダー", mypage_calendars_path, class:"text-gray-900 dark:text-white hover:underline" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

