<div class="btm-nav">
  <%= link_to root_path, class: "hover:bg-yellow-200" do %>
    <i class="fa-solid fa-house" style="color: #000000;"></i>
    <span class="btm-nav-label">ホーム</span>
  <% end %>
  <%= link_to login_path, class: "hover:bg-yellow-200" do %>
    <i class="fa-sharp fa-light fa-right-to-bracket" style="color: #000000;"></i>
    <span class="btm-nav-label">ログイン</span>
  <% end %>
</div>