<% flash.each do |message_type, message| %>
  <div class="<%= flash_class(message_type) %> rounded-b  px-4 py-3 shadow-md mb-2" role="alert">
    <div class="flex">
      <div class="py-1"><%= flash_icon(message_type) %></div>
      <div>
        <p class="font-bold"> <%= message_type.capitalize %> </p>
        <p class="text-sm"><%= message %></p>
      </div>
    </div>
  </div>
<% end %>