<div class="btm-nav">
  <%= link_to root_path, class: "hover:bg-yellow-200" do %>
    <i class="fa-solid fa-house" style="color: #000000;"></i>
    <span class="btm-nav-label">ホーム</span>
  <% end %>
  <%= link_to mypage_profile_path, class: "hover:bg-yellow-200" do %>
    <i class="fa-solid fa-user" style="color: #050505;"></i>
    <span class="btm-nav-label">マイページ</span>
  <% end %>
  <%= link_to groups_path, class: "hover:bg-yellow-200" do %>
    <i class="fa-solid fa-utensils" style="color: #000000;"></i>
    <span class="btm-nav-label">食べ合わせ</span>
  <% end %>
  <%= link_to foods_path, class: "hover:bg-yellow-200" do %>
    <i class="fa-solid fa-bowl-rice"></i>
    <span class="btn-nav-label">食品</span>
  <% end %>
</div>