<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
  <div class="md:flex">
    <div class="md:shrink-0">
      <div class="text-accent text-7xl">Topページ仮置き</div>
    </div>
  </div>
</div>
