<div class="text-accent text-7xl" >Topページ仮置き</div>
<% unless logged_in? %>
  <%= link_to 'ゲストユーザーでログインしてみる', guest_path, method: :post, class: 'btn btn-success' %>
<% end %>
<!--<div data-controller="hello">
  <input data-hello-target="name" type="text">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>
</div> -->

