<% content_for(:title, @user.name+t('.title')) %>
<div class="mx-auto max-w-screen-lg">
  <% if @user.profile.nil? || @user.profile.momentum.nil? %>
    <h1 class="font-bold"><%= link_to 'プロフィール', mypage_profile_path, class:"text-blue-500 link link-hover" %>を登録してください</h1>
  <% else %>
    <h1 class="font-bold">あなたに必要なカロリーは一日<%= @user.target_calories %> kcalです</h1>  
  <% end %>
  <%= bar_chart @weak_chart, title: "今週の総カロリーは#{@weak_total_calories}kcalです" %>
  <div id='calendar' class="my-10 bg-white px-10 py-5"></div>
</div>
